@font-face {
    font-family: 'SF Pro Display';
    src: url('../fonts/SF-Pro-Display.otf') format('otf');
}

@font-face {
    font-family: 'SF Pro Text';
    src: url('../fonts/SF-Pro-Text.otf') format('otf');
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('ttf');
}
